# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars

# Next.js
nextjs/node_modules/
nextjs/.next/
nextjs/.env*

# Certificats
nextjs/*.pem
monitoring/*.pem
*.pem

# OS
.DS_Store
Thumbs.db

# Claude
nextjs/AGENTS.md
nextjs/CLAUDE.md
